body{
    margin: 0px;
}
*{
    font-family: "EB Garamond"
}
main{
    padding: 20px;
}



.dropdown{
    display: inline-block;
}
header{
    background-color: rgb(1, 1, 56);
    height: 60px;
    width: 100%;
    margin: 0px;
}
.dropdown button{
    color: white;
    height: 60px;
    width: 65px;
    font-size: 20px;
    background-color: rgb(1, 1, 56);
    border: none;
}
.fa-solid.fa-bars.fa-2x:hover{
    font-size: 45px;
}
.dropdown .content{
    display: none;
    background-color: rgb(1, 1, 56);
    width: 250px;
    height: 200px;
    position: absolute;
}
.dropdown a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 30px;
    text-align: left;
    margin-left: 10px;
    padding: 2px;
}
.dropdown a:before{
    content: "▶ ";
}
.dropdown button:hover{
    cursor: pointer;
}
.dropdown:hover .content{
    display: block;
}
.dropdown a:hover{
    text-decoration: underline;
    font-size: 30.5px;
}



hr{
    border-color: hsl(43, 71%, 64%);
    width: 20%;
}
#main_hr{
    width: 45%;
}
p{
    text-align: center;
    padding: 20px;
}
#mask{
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
}



main p{
    font-size: 28px;
    text-align: left
}
main h2{
    font-size: 35px;
}
main ul li{
    font-size: 28px;
}



.gallery{
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    margin: 75px;
    width: 470px;
}

.gallery .description{
    font-size: 20px;
    padding: 20px;
    text-align: center;
    border-top: 1px solid black
}

.gallery:hover{
    box-shadow: 1px 1px 10px grey, -1px -1px 10px grey;
}

.gallery img{
    padding: 20px;
    width: 50%;
    height: auto;
}
#foodpyramid_link{
    text-align: center;
}
